Options +FollowSymLinks
RewriteEngine On
Options -Indexes
DirectoryIndex index.php
 
RewriteCond $1 !^(index\.php|assets|images|css|js|install|robots\.txt|favicon\.ico)
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]